{%extends "body.html"%}
{%block content%}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{cardTitle}}</h3>

          </div>

          {% if request.user.rol !=  object.pnf and request.user.rol != "ADMINISTRADOR" and request.user.rol != "Coord. Proyectos"   %}
          <div class="card-body">

          <h1 style="color: red;">No tiene permiso para visualizar esta pagina</h1>
          </div>
{%endif%}

        <div class="card-body">

          {% if request.user.rol ==  object.pnf or request.user.rol == "ADMINISTRADOR" or request.user.rol == "Coord. Proyectos" %}

       
<p id="nombre">Nombre: {{ object.nombre}}  </p>
<p id="caso">Caso: {{ object.caso.nombre}}, parroquia {{ object.caso.parroquia}}, municipio {{ object.caso.municipio}}, estado {{ object.caso.estado}}</p>
<p id="int">Integrantes:{{ object.integrantes}}</p>
<p id="pnf">Carrera: Programa Nacional de Formación en {{ object.pnf}}</p>
<p id="tutor">Tutor:{{ object.responsable.nombre}}</p>
<p id="trayecto">Trayecto:{{ object.trayecto}}</p>
            <p id="year">Periodo A.:{{ object.year}}</p>
<p id="resumen">Resumen:{{ object.resumen}}</p>
<p id="estado">Estatus:{{ object.estado}}</p>
{%if object.upload} != "" %}
<p><a id="pdf"  class="btn btn-primary" onclick="stopDefAction(event)" href="{{ object.upload}}">                    <i class="far fa-newspaper"></i>
Visualizar Informe  </a></p>
{%endif%}







            
              

        

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <a class="btnexp btn btn-secondary btn-lg btn-block" href="/report/detailProyecto/{{object.id}}" target="_blank">Generar Reporte</a>

        </div>
        {%endif%}
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>




{%endblock%}
{%block scripts%}

<script src="/static/scripts/htmlActions.js"></script>
{%endblock%}