{%block sidebar%}
 <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/dashboard/home" class="brand-link">
      <img src="/static/images/logo_2.png" alt="gmayo Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light"> GMAYO</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/static/images/avatar/avatar1.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="/accounts/profile" class="d-block">{{request.user}}</a>
        </div>
      </div>



      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="far fa-plus-square"></i>
              <p>
                Añadir
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                  {%if request.user.rol == "ADMINISTRADOR"%}
                <a href="/crud/agregar/" class="nav-link">
                    {%endif%}
                  {%if request.user.rol != "ADMINISTRADOR"%}
                <a href="/crud/agregarProyecto/" class="nav-link">
                    {%endif%}
                    <i class="far fa-newspaper"></i>
                  <p>Proyecto</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/crud/agregarCaso" class="nav-link">
                  <i class="fas fa-search-location"></i>
                  <p>Caso</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/crud/agregarResponsable" class="nav-link">
                  <i class="fas fa-chalkboard-teacher"></i>                  <p>Docentes</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-header">Ver</li>
          <li class="nav-item">
                <a href="/report/proyectos" class="nav-link">
                    <i class="far fa-newspaper"></i>
                  <p>Proyectos</p>
                </a>
              </li>
          <li class="nav-item">
                <a href="/crud/casos" class="nav-link">
                  <i class="fas fa-search-location"></i>
                  <p>Casos</p>
                </a>
              </li>
          <li class="nav-item">
                <a href="/crud/responsables" class="nav-link">
                  <i class="fas fa-chalkboard-teacher"></i>                  <p>Docentes</p>
                </a>
              </li>
          <li class="nav-header">GMAYO</li>
          {%if request.user.rol == "ADMINISTRADOR"%}
          <li class="nav-item">
         
          <a href="/accounts/users/" class="nav-link">
            <i class="fas fa-user-friends"></i>
            <p>  Usuarios</p>

          </a>
              </li>
              {%endif%}
           
          <li class="nav-item">
                <a href="/dashboard/" class="nav-link">
                  <i class="fas fa-info-circle"></i>
                  <p>Información del sistema</p>
                </a>
              </li>
          <li class="nav-item">
            <a href="/accounts/logout" class="nav-link">
                <i class="fas fa-door-open text-danger"></i>
              <p class="text">Cerrar Sesión</p>
            </a>
          </li>



        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

{%endblock%}