{%extends "body.html"%}
{%block content%}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Title</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">

     

<p id="nombre">Nombre: {{ object.nombre}}</p>
<p id="caso">Caso: {{ object.caso.nombre}}</p>
<p id="int">Integrantes:{{ object.integrantes}}</p>
<p id="pnf">PNF:{{ object.pnf}}</p>
<p id="tutor">Tutor:{{ object.responsable.nombre}}</p>
<p id="year">Año:{{ object.year}}</p>
<p id="resumen">Resumen:{{ object.resumen}}</p>
<p id="estado">Estado:{{ object.estado}}</p>
<p>Documento: <a id="pdf"  onclick="stopDefAction(event)" href="#">Click para abrir  </a></p>
<a class="btnexp" onclick="stopDefAction(event)" href="#">Export PDF</a>


<script type="text/javascript">
//preventDefault
function stopDefAction(evt) {
  evt.preventDefault();
}



// Function to print
function print() {
  window.open('../../media/{{ object.upload}}');
 
}

// Function to add event listener to pdf 
function load() {
  var pdf = document.getElementById("pdf");
  pdf.addEventListener("click", print, false);
}

document.addEventListener("DOMContentLoaded", load, false);


  
  

</script>




            
              

        

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          Footer
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>




{%endblock%}
{%block scripts%}
<script>
var doc = new jsPDF();
function pdfexport(){
  //variables

  var nombreProyecto = document.getElementById('nombre').innerText,
      casoProyecto = document.getElementById('caso').innerText,
      intProyecto = document.getElementById('int').innerText,
      pnfProyecto = document.getElementById('pnf').innerText,
      tutorProyecto = document.getElementById('tutor').innerText,
      yearProyecto = document.getElementById('year').innerText,
      titulo = "Reporte Proyecto"


  var x = 0, y = 0, z = 0, w = 0;

  //jspdf part
  var doc = new jsPDF();
  //standard variables
  var boldFont = doc.setFontStyle('bold'),
      normalFont = doc.setFontStyle('normal');


  //title
  doc.setFontSize(22);
  doc.text(tutulo, 60, 30);
  //content
  doc.setFontSize(10)
  doc.setFontStyle('normal');
  doc.text(nombreProyecto, 10, 60, {maxWidth: 80});
  doc.text(casoProyecto, 10, 60, {maxWidth: 80});
  doc.text(intProyecto, 10, 60, {maxWidth: 80});
  doc.text(pnfProyecto, 10, 60, {maxWidth: 80});
  doc.text(tutorProyecto, 10, 60, {maxWidth: 80});
  doc.text(yearProyecto, 10, 60, {maxWidth: 80});

 
   //info in redinfo

  doc.output('dataurlnewwindow',{filename: "reporte"});
}

</script>

{%endblock%}